@import "../../_variables";

button {
  cursor: pointer;
  color: inherit;
  outline: none;
  border: none;
  padding: 0;
  border-radius: 50rem;
}

.ghost {
  background-color: transparent;
}

.invisible {
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}

.outline {
  background-color: transparent;
  border: 2px solid $white;
  display: flex;

  &:hover {
    background-color: transparent;
  }
}
