$black: #000;
$white: #fff;

$background: #111113;
$background_1: #1d1d20;
$background_2: #2d2d30;
$background_3: #3a3a3e;

$primary: #baa7ff;
// $primary: #5cb4ee;
// $primary: #d62839;
// $primary: #EE4266;
